<!DOCTYPE html>
<html>
<head>
  <title>Streetviewhaiku</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div ng-app="app">

    <%= render partial: 'layouts/navigation' %>
    <ui-view></ui-view>

  </div>
</body>
</html>
